<ul>
	<li><%= link_to "Назад на сайт!!!!!!", main_path %></li>
	<li><%= link_to "Коммерческое предложение", commerces_path %></li>
	<li><%= link_to "Телефоны", phones_path %></li>
	<li><%= link_to "Контакты", contacts_path %></li>
	<li><%= link_to "О нас", aboutus_path %></li>
	<li><%= link_to "Фуршет", receptions_path %></li>
	<li><%= link_to "Обеды", lunches_path %></li>
</ul>
