<div style="text-align: right; height: 15px; width: 675px; overflow: visible; white-space: nowrap; display: inherit;" class="wysiwyg_viewer_skins_dropmenu_TextOnlyMenuNSkinddm1-itemsContainer">
	<div class="main-menu">
		<p class="main-menu-label"><%= link_to "ГЛАВНАЯ", main_path, class: "main-menu-label" %></p>
	</div>
	<div class="main-menu">
		<p class="main-menu-label"><%= link_to "ADMIN", phones_path, class: "main-menu-label" %></p>
	</div>
	<div class="main-menu">
		<p class="main-menu-label"><%= link_to "ГЛАВНАЯ", main_path, class: "main-menu-label" %></p>
	</div>
	<div class="main-menu">
		<p class="main-menu-label"><%= link_to "ГЛАВНАЯ", main_path, class: "main-menu-label" %></p>
	</div>
	<div class="main-menu">
		<p class="main-menu-label"><%= link_to "КОНТАКТЫ", main_contact_path, class: "main-menu-label" %></p>
	</div>
</div>