<%= form_for(@contact) do |f| %>
  <div class="column-left">
    <% if @contact.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

        <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.text_field :email, placeholder: "E-mail" %>
    </p>
    <p>
      <%= f.text_field :skype, placeholder: "Skype" %>
    </p>
  </div>
  <div class="column-right">
    <p>
      <%= f.text_field :sitename, placeholder: "URL (ссылка на сайт)" %>
    </p>
  </div>
  <div class="clear"></div>
  <div class="action_bar">
    <%= f.submit "Сохранить", class: "button blue" %>
    <%= link_to 'Назад', contacts_path %>
  </div>
<% end %>