<div class="box-header"><h1>О нас</h1></div>
<div class="dataTables_wrapper">
    <table>
        <thead>
            <tr>
                <th class="odd"><% if @aboutus.size > 0 %>Текст "О нас"<% end %></th>
            </tr>
        </thead>
        <tbody>
            <% @aboutus.each do |aboutu| %>
                <tr>
                    <td class="odd"><%= truncate(aboutu.content.html_safe, :length => 10)  %></td>
                    <td class="odd" style="border-right: 0;"><%= link_to (image_tag "actions-open.png"), aboutu %></td>
                    <td class="odd" style="border-right: 0;"><%= link_to (image_tag "actions-edit.png"), edit_aboutu_path(aboutu) %></td>
                    <td class="odd"><%= link_to (image_tag "actions-delete.png"), aboutu, method: :delete, data: { confirm: 'Ололошки, точно удалить?' } %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="action_bar nomargin"><%= link_to 'Новый текст "О нас"', new_aboutu_path, class: "button small" if @aboutus.empty? %></div>
</div>

