<%= form_for(@reception) do |f| %>
  <div>
    <% if @reception.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@reception.errors.count, "error") %> prohibited this reception from being saved:</h2>

        <ul>
        <% @reception.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.cktext_area :content, placeholder: "Фуршеты" %>
    </p>
    <p>
      <%= f.file_field :file %>
    </p>
  </div>
  <div class="clear"></div>
  <div class="action_bar">
    <%= f.submit "Сохранить", class: "button blue" %>
    <%= link_to 'Назад', receptions_path %>
  </div>
<% end %>
