<div class="box-header"><h1>Фуршет</h1></div>
<div class="dataTables_wrapper">
    <table>
        <thead>
            <tr>
                <th class="odd"><% if @receptions.size > 0 %>Текст фуршета<% end %></th>
            </tr>
        </thead>
        <tbody>
            <% @receptions.each do |reception| %>
                <tr>
                    <td class="odd"><%= truncate(reception.content.html_safe, :length => 10)  %></td>
                    <td class="odd" style="border-right: 0;"><%= link_to (image_tag "actions-open.png"), reception %></td>
                    <td class="odd" style="border-right: 0;"><%= link_to (image_tag "actions-edit.png"), edit_reception_path(reception) %></td>
                    <td class="odd"><%= link_to (image_tag "actions-delete.png"), reception, method: :delete, data: { confirm: 'Ололошки, точно удалить?' } %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="action_bar nomargin"><%= link_to 'Новый текст фуршета', new_reception_path, class: "button small" if @receptions.empty? %></div>
</div>
