<html>
<head>
	<title>LunchSity</title>
	<%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag 'index.css' %>
	<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic" %>
	<%= csrf_meta_tag %>
</head>
<body>
	<!-- <div class="SITE_STRUCTURE"><h1>Index#index</h1>
<p>Find me in app/views/index/index.html.erb</p>
</div> -->
	<div id="bgNode"></div>

	<div id="SITE_STRUCTURE" class="SITE_STRUCTURE">
		<div id="SITE_FOOTER" class="fc3" >
			<div class="fc3-screenWidthBackground">
				<div class="fc3-c-bg"></div>
			</div>
			<div class="fc3-centeredContent">
				<div class="fc3-bg"></div>
				<div class="fc3-inlineContent">
					<div class="main_text" id="WRchTxt8"><p style="line-height: 1.4em;" class="font_9"><span class="color_11">©&nbsp;<%= Time.now.year %>&nbsp;LunchSity</span></p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="wysiwyg_viewer_skins_screenwidthcontainer_TransparentScreenpc1" style="visibility: visible; width: 980px; position: absolute; top: 190px; min-height: 1167px;"id="PAGES_CONTAINER">
			<div class="wysiwyg_viewer_skins_page_BasicPageSkinp2-bg" skinpart="bg"></div>
			<div class="wysiwyg_viewer_skins_page_BasicPageSkinp2-inlineContent" skinpart="inlineContent">
				<%= render 'index/title' %>
				<div id="WPht8" class="wysiwyg_viewer_skins_photo_RoundPhotowp2" style="visibility: visible; left: 30px; top: 101px; min-width: 200px; min-height: 135px; position: absolute;" title=""><%= yield %></div>
				</div>
			</div>
		<div skin="wysiwyg.viewer.skins.screenwidthcontainer.DefaultScreen" styleid="hc2" class="wysiwyg_viewer_skins_screenwidthcontainer_DefaultScreenhc2" style="visibility: visible; position: absolute; width: 980px; min-height: 130px; top: 60px;" angle="0" scale="1" y="60" x="0" height="130" width="980" comp="wysiwyg.viewer.components.HeaderContainer" id="SITE_HEADER">
				
			<div class="wysiwyg_viewer_skins_screenwidthcontainer_DefaultScreenhc2-bg" skinpart="bg"></div>
			<div class="wysiwyg_viewer_skins_area_RectangleAreac3" skin="wysiwyg.viewer.skins.area.RectangleArea" styleid="c3" style="visibility: visible; top: -5px; width: 980px; min-height: 35px; position: absolute;" angle="0" scale="1" y="-5" x="0" height="35" width="980" comp="mobile.core.components.Container" id="Cntnr0">
				<div class="wysiwyg_viewer_skins_area_RectangleAreac3-bg" skinpart="bg"></div>
			</div>
			<div title="" style="visibility: visible; left: -61px; top: 49px; min-width: 1102px; min-height: 70px; position: absolute;" class="wysiwyg_viewer_skins_photo_RoundPhotowp1 " state="noTouch" angle="0" scale="1" y="49" x="-61" height="70" width="1102" propertyquery="#WPht0" dataquery="#c15lw" styleid="wp1" skin="wysiwyg.viewer.skins.photo.RoundPhoto" comp="wysiwyg.viewer.components.WPhoto" id="WPht0">
				<a style="cursor: default;" class="wysiwyg_viewer_skins_photo_RoundPhotowp1-link" skinpart="link">
					<div dataquery="#c15lw" styleid="" style="visibility: visible; width: 1100px; height: 68px;" id="mgNw1-7fp" comp="core.components.image.ImageNew" class="wysiwyg_viewer_skins_photo_RoundPhotowp1-img skins_core_ImageNewSkin" skinpart="img" skin="skins.core.ImageNewSkin">
						<img style="margin-top: 0px; margin-left: 0px; width: 1100px; height: 68px;" src="//static.wixstatic.com/media/41d000_02cae4ebb07b25ff058e52a22c9f5528.png_srz_p_1100_68_75_22_0.50_1.20_0.00_png_srz" alt="" class="skins_core_ImageNewSkin-image" skinpart="image">
					</div>
				</a>
			</div>
			<div class="wysiwyg_viewer_skins_dropmenu_TextOnlyMenuNSkinddm1" skin="wysiwyg.viewer.skins.dropmenu.TextOnlyMenuNSkin" styleid="ddm1" style="visibility: visible; width: 675px; left: 300px; top: 65px; min-height: 15px; position: absolute;" angle="0" scale="1" y="65" x="300" height="15" width="675" propertyquery="#DrpDwnMn0" dataquery="#MAIN_MENU" comp="wysiwyg.viewer.components.menus.DropDownMenu" id="DrpDwnMn0">
					
				<%= render 'index/navi' %>
					
				<div style="display: none; visibility: hidden; opacity: 0;" class="wysiwyg_viewer_skins_dropmenu_TextOnlyMenuNSkinddm1-dropWrapper" skinpart="dropWrapper">
					<div class="wysiwyg_viewer_skins_dropmenu_TextOnlyMenuNSkinddm1-moreContainer" skinpart="moreContainer"></div>
				</div>
			</div>
			<div title="" style="visibility: visible; left: 59px; top: 14px; min-width: 172px; min-height: 131px; position: absolute;" class="wysiwyg_viewer_skins_photo_RoundPhotowp1 " state="noTouch" angle="0" scale="1" y="14" x="59" height="131" width="172" propertyquery="#WPht1" dataquery="#c1vb5" styleid="wp1" skin="wysiwyg.viewer.skins.photo.RoundPhoto" comp="wysiwyg.viewer.components.WPhoto" id="WPht1">
				<a style="cursor: default;" class="wysiwyg_viewer_skins_photo_RoundPhotowp1-link" skinpart="link">
					<div dataquery="#c1vb5" styleid="" style="visibility: visible; width: 170px; height: 129px;" id="mgNw0-130z" comp="core.components.image.ImageNew" class="wysiwyg_viewer_skins_photo_RoundPhotowp1-img skins_core_ImageNewSkin" skinpart="img" skin="skins.core.ImageNewSkin">
						<img style="margin-top: 0px; margin-left: 0px; width: 170px; height: 129px;" src="//static.wixstatic.com/media/41d000_974d632333c2609b28012c2f22e44bc3.png_srz_p_170_129_75_22_0.50_1.20_0.00_png_srz" alt="" class="skins_core_ImageNewSkin-image" skinpart="image">
					</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>