<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="description" content="">
		<%= stylesheet_link_tag 'temp.css' %>
		<%= javascript_include_tag "application" %>
		<%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic" %>
		<%= csrf_meta_tag %>
		<title>LunchSity.by</title>
	</head>
	<body>
		<div id="bgNode"></div>
		<div id="site" class="template-home">
			<div class='container'>
				<div class="main_text" style="top:25; position: relative;"><h2><%= @title %></h2>
				</div>
				<div style="visibility: visible; left: 704px; top: 42px; min-width: 255px; min-height: 5px; position: absolute;" class="header_line"></div>
				<div style="visibility: visible; left: 704px; top: 67px; min-width: 255px; min-height: 5px; position: absolute;" class="header_line"></div>
				<div style="visibility: visible; left: 19px; top: 67px; min-width: 255px; min-height: 5px; position: absolute;" class="header_line"></div>
				<div style="visibility: visible; left: 19px; top: 42px; min-width: 255px; min-height: 5px; position: absolute;" class="header_line"></div>
				<div id="content" class="content"><%= yield %></div>
				<div style="clear:both;"></div>
			</div>
			<div id="footer">
				<div class="main_text" id="WRchTxt8">
					<div>©&nbsp;<%= Time.now.year %>&nbsp;LunchSity</div>
				</div>
			</div>

			<div id="header">
				<div class="header-top" style="width: 975px; min-height: 35px; position: absolute;">
					<div class="header-top" skinpart="bg"></div>
				</div>
				<div class="menu-image">
					<a>
						<div>
							<img src="/assets/menu-panel.png">
						</div>
					</a>
				</div>
				<div style="visibility: visible; width: 675px; left: 300px; top: 53px; min-height: 15px; position: absolute;">
					<%= render 'index/navi' %>
					<div style="display: none; visibility: hidden; opacity: 0;" class="wysiwyg_viewer_skins_dropmenu_TextOnlyMenuNSkinddm1-dropWrapper" skinpart="dropWrapper">
						<div class="wysiwyg_viewer_skins_dropmenu_TextOnlyMenuNSkinddm1-moreContainer" skinpart="moreContainer"></div>
					</div>
				</div>
				<div title="" style="visibility: visible; left: 59px; top: 14px; min-width: 172px; min-height: 131px; position: absolute;" class="wysiwyg_viewer_skins_photo_RoundPhotowp1 " state="noTouch" angle="0" scale="1" y="14" x="59" height="131" width="172" propertyquery="#WPht1" dataquery="#c1vb5" styleid="wp1" skin="wysiwyg.viewer.skins.photo.RoundPhoto" comp="wysiwyg.viewer.components.WPhoto" id="WPht1">
					<a style="cursor: default;" class="wysiwyg_viewer_skins_photo_RoundPhotowp1-link" skinpart="link">
						<div dataquery="#c1vb5" styleid="" style="visibility: visible; width: 170px; height: 129px;" id="mgNw0-130z" comp="core.components.image.ImageNew" class="wysiwyg_viewer_skins_photo_RoundPhotowp1-img skins_core_ImageNewSkin" skinpart="img" skin="skins.core.ImageNewSkin">
							<img style="margin-top: 0px; margin-left: 0px; width: 170px; height: 129px;" src="/assets/logo.png" alt="" class="skins_core_ImageNewSkin-image" skinpart="image">
						</div>
					</a>
				</div>	
			</div>
		</div>
	</body>
</html>